.subscription {
  border-top: 1px solid #ccc;
  align-items: center;
  padding: 10px 20px;
  margin-left: 0px !important;
  
  .subscription-image {
    border-radius: 50%;
    height: 2.2rem;
    width: auto;
  }
  
  .subscription-title {
    padding: 0 15px;
    margin: 0;
    width: 230px;
    max-width: 230px;
    overflow: hidden;
  }
}