.ReactModal__Content {
  padding: 0 !important;
}

.unsubscribe-modal-info {
  padding: 20px;
}

.unsubscribe-modal-buttons {
  display: flex;
  
  .btn {
    border-radius: 0;
    color:white;
  }
  
  #unsubscribe {
    @include buttonOfColor($danger-red, 50%);
  }
  
  #dontUnsubscribe {
    @include buttonOfColor($light-grey, 50%);
  }
}