// Variables Declaration
$light-green: #3FC59D;
$light-grey: #B6BDCE;
$danger-red: #D05454;
$warning-orange: #EFA742;

$box-border: 1px solid #ccc;

// File imports
@import './base';
@import './components/subscription';
@import './components/subscriptions';
@import './components/unsubscribeModal';
@import './components/userInfo';