// Base styles used on the application
@mixin buttonOfColor($color, $width) {
  border-color: $color;
    background: $color;
         color: white;
         width: $width;
}

.podcast-title {
  font-size: 14px;
  margin: 7px 0px;
}

.podcast-episode {
  margin: 0 50px;
}

.podcast-row {
  border-top: $box-border;
  align-items: center;
  padding: 10px 20px;
  margin-left: 0px !important;
}

.btn-sm {
  border-radius: 0 !important;
}

////
.btn-dismiss {
  @include buttonOfColor($warning-orange, 60px);
}

.btn-listen {
  @include buttonOfColor($light-green, 60px);
}

#app > .container {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#user-info-page-wrapper > div {
  border: $box-border;
  padding: 0;
  height: 90vh;
}