.podcast-image {
  // border-radius: 50%;
  height: 25px;
  width: auto;
}

.btn-unsubscribe {
  @include buttonOfColor($danger-red, 20px);
  margin-top: 5px;
  font-weight: bold !important;
  padding: 1px 5px !important;
  font-size: 12px !important;
  border-radius: 0px !important;
}
