.user-info-wrapper {
  padding: 40px 20px;
  border-bottom: $box-border;
  
  #user-info-image-wrapper {
    display: grid;
    
    img {
      width: 11em;
      height: 10em;
      margin: 0 auto;
    }
    
    .btn {
      width: 11em;
      margin: 0 auto;
      background: $light-green;
      border-color: $light-green;
      color: white;
    }
  }
  
  #user-info-password {
    margin: 0 15px;
    font-weight: bold;
  }
}

#newPasswordWrapper.passwordDisabled div label {
  color: $light-grey;
}